<script lang="ts" setup>
import { computed, ref } from "vue";

const sumProduct = ref(0);

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const productList = ref<{ id: number, name: string, price: number }[]>([]);


const addProduct = (product: { id: number, name: string, price: number }): void => {
  const index = productList.value.push(product);
};

const sum = computed(function () {
  sumProduct.value = 0;
  for (let i = 0; i < productList.value.length; i++) {
    sumProduct.value = sumProduct.value + productList.value[i].price
  }
  return sumProduct
})

</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-container style="overflow-y: auto; max-height: 80vh;">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <v-card class="mx-auto" max-width="200px" variant="outlined">
                <h1 style="text-align: center">{{ item.name }}</h1>
                <h2 style="text-align: center">{{ item.price }}</h2>
                <div style="text-align: center">
                  <v-btn @click="addProduct(item)">Add</v-btn>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-table style="max-height: 50vh; overflow-y: auto;">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="productList.length === 0">
              <td></td>
              <td style="text-align: center;">No Data</td>
            </tr>
            <tr v-else v-for="item in productList" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col offset="7">
        <div>
          <h1>
            Sum: {{ sum }}
          </h1>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
