<script lang="ts" setup>
import { ref } from "vue";

const num = ref();
</script>

<template>
  <v-text-field label="Please input Number" v-model.number="num" :rules="[(v) => !!v || ' Number is not empty!!']"
    required>
  </v-text-field>
  <v-container>
    <v-row>
      <v-col cols="1" v-for="(item, index) of num" :key="index">
        {{ index + 1 }}
      </v-col>
    </v-row>
  </v-container>
</template>
