<script lang="ts" setup>
import { usefelingStore } from "@/stores/feelings";
import type feeling from "@/feeling";
import { ref } from "vue";
const feelStore = usefelingStore();

const feelingId = ref(6);
const feelingN = ref("Smile");
const feelingImg = ref("../../../feeling_imgs/smile.png");
function clickfeeling(f: feeling) {
  feelingId.value = f.id;
  feelingN.value = f.name;
  feelingImg.value = f.img;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="feelingImg"></v-img>
      </v-col>
      <v-col>
        <div class="text-h5" style="text-align: center">{{ feelingN }}</div>
        <v-list>
          <v-list-item v-for="item of feelStore.feelings" :key="item.id">
            <v-btn class="ma-2" style="width: 500px" :color="feelingId === item.id ? 'yellow' : 'none'"
              @click="clickfeeling(item)">
              {{ item.name }}
            </v-btn>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>

</style>
