<script setup lang="ts">
import { ref } from "vue";

const count = ref(0);
const count2 = ref(0);

function int() {
  count.value++;
  count2.value = count.value * 2;
}
function dec() {
  count.value--;
  count2.value = count2.value - 2;
  if (count.value < 0) {
    count.value = 0;
    count2.value = 0;
  }
}
</script>
<template>
  <v-table>
    <thead>
      <tr>
        <th>First Component</th>
        <th>Second Component</th>
      </tr>
      <tr>
        <td>
          {{ count }}
        </td>
        <td>
          {{ count2 }}
        </td>
      </tr>
    </thead>
    <tr>
      <td>
        <v-btn @click="int()">INCREMENT</v-btn>
      </td>
      <td>
        <v-btn @click="dec()">DECReASE</v-btn>
      </td>
    </tr>
  </v-table>
</template>
